@font-face {
  font-family: StaatlichesRegular;
  src: url('../public/fonts/Staatliches-Regular.ttf');
  font-weight: 300;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: MontserratMedium;
  src: url('../public/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: MontserratRegular;
  src: url('../public/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff8f0;
  color: #0a0a0a;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav--green {
  background-color: #2AFC98;
}

.nav--purple {
  background-color: #392F5A;
}

.nav__link {
  font-family: 'StaatlichesRegular';
  font-size: 1.2rem;;
  letter-spacing: 2px;
  margin: 1rem 2rem;
  text-decoration: none;
  color: #2AFC98;
}

/* .nav__link::before {
  content: "";
  position: absolute;            
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: blueviolet;
} */

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 40vh;
  padding-top: 4rem;
  /* background-color: #00B295; */
  /* background-color: #8A84E2; */
  /* background-color: #2AFC98; */
  /* transform: rotate(-5deg) skew(-5deg); */
}

.hero__text {
  display: grid;
  place-items: center;
}

.hero__text {
  text-align: center;
}

.hero__header {
  font-family: 'StaatlichesRegular';
  /* font-size: 8rem; */
  font-size: 12vw;
  /* margin: 0; */
}

.hero__caption {
  font-family: 'StaatlichesRegular';
  /* font-size: 2rem; */
  font-size: 8vw;
  margin: 1rem;
}

.rounded {
  height: 0.5rem;
  width: 80%;
  border-radius: 4px;
  border: none;
  background-color: #392F5A;
}

.letter {
  font-family: 'StaatlichesRegular';
  padding: 0rem 1rem;
}

.letter__h1 {
  font-size: 8vw;
}

.letter__h2 {
  font-size: 7vw;
}

.letter__p {
  font-size: 6vw;
}

@media (min-width: 900px) {
  .hero {
    align-items: center;
    min-height: 50vh;
    padding: 4rem;
  }

  .hero__header {
    font-family: 'StaatlichesRegular';
    /* font-size: 8rem; */
    font-size: 8vw;
    margin: 0;
  }

  .hero__caption {
    font-family: 'StaatlichesRegular';
    /* font-size: 2rem; */
    font-size: 2.2vw;
    /* margin: 0; */
  }

  .nav__link {
    margin: 1rem 8rem;
  }
}

.letter {
  display: grid;
  place-items: center;
}